@tailwind base;
@tailwind components;
@tailwind utilities;

/* Target horizontal scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 3px; /* Adjust height for horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: black; /* Black scrollbar color */
  border-radius: 10px; /* Rounded corners */
}



